.App {
	text-align: center;
}

.header {
	font-size: 12px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid #eaeaea;
}

.header img {
	margin-left: auto;
}

.p-card-header {
  position: relative;
}

.p-card {
  margin: 20px;
}

.p-card .p-card-title {
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.p-image img {
  border-radius: 6px;
}

.attribution {
	position: absolute;
	bottom: -10px;
	display: block;
	text-align: center;
	width: 100%;
	left: 0;
	margin: 0;
	font-size: 10px;
}
